.DS_Store
.idea
.secrets
.vagrant
*.swp
*~
*#
#*

.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
blobs
**/config/dev.yml
**/config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz
tmp/
.terraform
*terraform.tfstate*
*terraform.log*
**/vars-pipeline*
